<%- include("./partials/header")%>

<div class="signup-login-btn">
    <a href="/signup" class="signup-btn">Signup</a>
</div>
<div class="signup-login-btn">
    <a href="/login" class="login-btn">Login</a>
</div>